@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif:wght@700&family=Poppins:ital@1&display=swap");

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background: #181719;
  --font_head: "Crimson Pro";
  --fonte-color: white;
}
body {
  background-color: var(--background);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  color: white;
  margin: 42px 77px 0 42px;
}

.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  margin-top: 20%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__titel {
  color: var(--fonte-color);
  font-family: var(--font_head);
  font-size: 14px;
  line-height: 15.56px;
  font-weight: 200;

  border: 1px solid white;
  padding: 5px;
}

.nav__link {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  font-family: Montserrat;
  line-height: 22px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__link::after {
  content: "";
  background-color: white;
  display: block;
  width: 100%;
  height: 2px;
  top: 20px;
  clip-path: var(--clippy);
  transition: clip-path 0.3s;
}
.nav__link:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.main {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: row wrap;
  margin-top: 5%;
}

.section__a {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  text-decoration: none;
}
.section__text {
  max-width: 410px;
  margin-top: 40px;
  margin-bottom: 56px;
}
.section__p {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  text-align: left;
}

.section__h2 {
  font-family: "Lora";
  font-size: 48px;
  font-weight: 500;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: left;
}

.section__img {
  max-width: 100%;
  width: 821px;
  height: auto;
}
.float {
  flex: 0 1 50%;
}
.section--flex {
  flex: 1 0 400px;
}

.section__background {
  position: relative;
  max-width: 800px;
}

.section__card {
  background-color: #181719;
  max-width: 100%;
  width: 200px;
  height: 100px;
  padding: 1rem;
  position: absolute;
  bottom: -2em;
  right: 2em;
  border-radius: 5px;
}
.card__header__icon {
  margin-right: 20px;
}
.header__icon__img {
  max-width: 100%;
  width: 65px;
  height: auto;
  border-radius: 50%;
}
.card__header {
  display: flex;
  justify-content: left;
  align-items: center;
}

.card__name {
  margin-bottom: 4px;
}
.card__profession {
  margin-top: 4px;
}
.card__profession_name_p {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.card__profession_p {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
}
.card__body {
  width: 100%;
}
.card__body__p {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 31px;
  text-align: left;
  color: #ffffff;
}
.footer {
  display: flex;
  justify-content: center;
}
.footer__name_p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #a9a9a9;
}
@media (max-width: 820px) {
  .nav__icon_movil {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
  }
  .nav__icon_movil span {
    width: 100%;
    height: 2px;
    display: block;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 600ms;
  }
  .active__line1__bars-menu {
    transform: rotate(45deg) translate(-2px, 1px);
  }
  .active__line2__bars-menu {
    transform: translate(-20px);
    opacity: 0;
  }
  .active__line3__bars-menu {
    transform: rotate(-45deg) translate(-4px, 2px);
  }

  body {
    margin: 12px;
 position: relative;
  }

  .header{
    background-color: var(--background);
position: fixed;
width: 100%;
height: 70px;
top: 0;
left: 0;
z-index: 1000;

  }
  .nav{
     display: flex;
     justify-content: space-between;
    

  }
.nav__links{
    top:70px;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
   flex-direction: column;
   justify-content: space-around;
background-color: var(--background);
clip-path:circle(0 at center);
transition:clip-path .3S ease-in-out;

}

.nav__links--enable{

    clip-path:circle(100% at center);
}

.nav__link{

    display: block;
    align-self: center;
}

  .main {
      margin-top: 70px;
    flex-direction: column;
    align-items: left;
  }

  .section__card {
    max-width: 100%;
    width: 300px;
    height: auto;
  }

  .card__body__p {
    font-size: 18px;
  }
 
}
